<body>

    {% for item in items %}
        <h2> Controle at {{ item.km }}km ({{item.miles}} miles) </h1>
        <p> Location: {{ item.location }}</p>
        <p> Open time: {{ item.open }} </p>
        <p> Close time: {{ item.close }}</p>
    {% endfor %}

</body>
